#{extends 'main.html' /}

	
#{form @authenticate()}
	<div class="row">
		<div class="span10 offset1">
			<fieldset>
				<legend>Log in</legend>
		
				#{flash /}
				
				
				<div class="clearfix">
		            <label for="username">&{'secure.username'}</label>
		            <div class="input">
		              <input type="text" size="30" name="username" id="username" class="xlarge">
		            </div>
		         </div>
				<div class="clearfix">
		            <label for="username">&{'secure.password'}</label>
		            <div class="input">
		              <input type="password" size="30" name="password" id="password" class="xlarge">
		            </div>
		         </div>
				<div class="clearfix">
		            <div class="input">
						<input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
						&{'secure.remember'}
		            </div>
		         </div>
		        
		        <div class="actions">
					<input type="submit" id="signin" value="&{'secure.signin'}" class="btn primary" />
		        </div>
			</fieldset>
		</div>
		<div class="span5">
				<p>
					<span class="label success">Psst...</span> Try to login with:<br/> Username: <strong>joel@frostdigital.se</strong>
					<br/>Password: <strong>qwerty</strong>
				</p>
		</div>
		
	</div>
#{/form}
