#{extends 'main.html' /}

#{form @authenticate()}
	<div class="row">
		<div class="span10 offset1">
			<fieldset>
				<legend>Log in</legend>
				#{flash /}
				
		         #{input code:'username', name:'username', cssClass:'xlarge', maxLength:'30', value:flash.username /}
		         #{password code:'password', name:'password', cssClass:'xlarge' /}

				 <div class="clearfix">
		            <div class="input">
						<input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
						&{'secure.remember'}
		            </div>
		         </div>
		        
				<div class="clearfix">
		            <div class="input">
		        	<p><a href="@{Application.createPasswordReset}">&{'passwordReset.forgot-it'}</a></p>
		        	</div>
		        </div>
		        
		        <div class="actions">
					<input type="submit" id="signin" value="&{'secure.signin'}" class="btn primary" />
		        </div>
			</fieldset>
		</div>
		<div class="span5">
			<p>
				<span class="label success">Psst...</span> Login with:<br/> Username: <strong>joel@frostdigital.se</strong>
				<br/>Password: <strong>qwerty</strong>
			</p>
		</div>
	</div>
#{/form}
