#{extends 'main.html' /}

#{flash /}

#{if user.id}
<h3>
	Edit user "${user.email}" 
</h3>
#{/if}
#{else}
	#{usersNav sel:'create' /}
#{/else}

#{form @save()}
	<input type="hidden" name="user.id" value="${user.id}" />
	<div class="row">
		<div class="span10">
			<fieldset>
				#{input code:'email', name:'user.email', class:'large', value:user.email /}
				#{input code:'role', name:'user.role', class:'large', value:user.role /}
		         
				<hr />
		        
		        #{password code:'password', name:'newPassword', class:'large' /} 
		        #{password code:'confirmPassword', name:'confirmPassword', class:'large' /} 
		        
		        <div class="actions">
					<input type="submit" id="signin" value="&{'save'}" class="btn primary" />
		        </div>
			</fieldset>
		</div>
	</div>
#{/form}
