#{extends 'main.html' /}

#{flash /}

#{if user.id}
<h3>
	Edit user "${user.email}" 
</h3>
#{/if}
#{else}
<ul class="pills">
    <li><a href="@{Users.list}">Show all</a></li>
    <li class="active"><a href="@{Users.create}">Add user</a></li>
</ul>
#{/else}


#{form @save()}
	<input type="hidden" name="user.id" value="${user.id}" />
	<div class="row">
		<div class="span10">
			<fieldset>
				#{input code:'email', name:'user.email', cssClass:'large', value:user.email /}
				#{input code:'role', name:'user.role', cssClass:'large', value:user.role /}
		         
				<hr />
		        
		        #{password code:'password', name:'newPassword', cssClass:'large' /} 
		        #{password code:'confirmPassword', name:'confirmPassword', cssClass:'large' /} 
		        
		        <div class="actions">
					<input type="submit" id="signin" value="Save" class="btn primary" />
		        </div>
			</fieldset>
		</div>
	</div>
#{/form}
