#{extends 'main.html' /}

#{flash /}

#{usersNav sel:'invite' /}

<p>&{'user.invite.info'}</p>

#{form @invitePOST()}
	<div class="row">
		<div class="span10">
			<fieldset>
				#{input code:'email', name:'email', class:'large', value:flash.email /}
				#{input code:'role', name:'role', class:'large', value:flash.role /}
		         
		        <div class="actions">
					<input type="submit" id="signin" value="&{'user.invite'}" class="btn primary" />
		        </div>
			</fieldset>
		</div>
	</div>
#{/form}
