#{extends 'main.html' /}
#{set title:'Home' /}


#{usersNav sel:'list' /}

#{flash /}
    
<table class="zebra-striped">
	<thead>
	  <tr>
	    <th>#</th>
	    <th>&{'username'}</th>
	    <th>&{'role'}</th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
		#{list items:users, as:'user'}
	   <tr>
	     <td>${user.id}</td>
	     <td>${user.email}</td>
	     <td>${user.role}</td>
	     <td>
	     	<a href="@{Users.edit(user.id)}" class="btn small info">&{'edit'}</a>
	     	<a href="@{Users.delete(user.id)}" class="btn small danger">&{'delete'}</a>
	     </td>
	   </tr>
		#{/list}
	</tbody>
</table>
      