#{extends 'main.html' /}

#{flash /}

<h3>
	Password reset
</h3>

<p>&{'passwordReset.info'}</p>

#{form @Application.createPasswordResetPOST()}
	<div class="row">
		<div class="span10">
			<fieldset>
				<div class="clearfix">
		            <label for="email">E-mail</label>
		            <div class="input">
		              <input type="text" size="30" name="email" id="email" class="large">
		            </div>
		         </div>
		        
		        <div class="actions">
					<input type="submit" value="Save" class="btn primary" />
		        </div>
			</fieldset>
		</div>
	</div>
#{/form}
