#{extends 'main.html' /}

#{flash /}

<h3>&{'passwordReset'}</h3>

#{form @Application.resetPasswordPOST(passwordReset.token, password, confirmPassword)}
	<div class="row">
		<div class="span10">
			<fieldset>
				#{password code:'password', name:'password', class:'large' /}
				#{password code:'confirmPassword', name:'confirmPassword', class:'large' /}
		        
		        <div class="actions">
					<input type="submit" value="&{'passwordReset'}" class="btn primary" />
		        </div>
			</fieldset>
		</div>
	</div>
#{/form}
